

::-webkit-input-placeholder {
  font-style: italic;
}

#frame {
  width: 500px;
  height: 350px;
  padding: 15px 15px 15px 15px;
  border: 0;
}


#likes{
  font-size:16px;
}

#users{
  color: black;
}
.imagemMER{
width: 50%;
}

.containerPesquisa{
  color:white;
}

.musicaPesquisa{
  color:black;
}



.btn.active {
  background-color: #666;
  color: white;
}

