#urlInput{
  width: 600px;

}

::-webkit-input-placeholder {
  font-style: italic;
}

#frame {
  width: 500px;
  height: 300px;
  padding: 15px 15px 15px 15px;
  border: 0;
}


#likes{
  font-size:16px;
}